# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py diff=python
*.pyc -text

# Web
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf

# Data
*.json text eol=lf
*.db -text
